.container-recomend {
  display: flex;
  flex-direction: row;
  height: 25vh;
  max-width: 100vh;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
}

.btn-start {
  bottom: 0;
  position: fixed;
}
