.container-done {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  background-color: rgba(255, 255, 255, 0.696);
  color: red;
  font-size: 120%;
  text-align: center;
}

.card-done-recipes {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.564);
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.342);
  display: flex;
  height: 25%;
  justify-content: space-around;
  margin: 2%;
  width: 100%;
}


.card-done-recipes h3 {
  color: rgba(61, 0, 0, 0.91);
  font-size: 1.2em;
  font-weight: 900;
}

.card-done-recipes li {
  background-color: rgba(174, 65, 65, 0.462);
  border-radius: 8px;
  color: rgba(61, 0, 0, 0.91);
  display: inline-block;
  font-size: 90%;
  list-style: none;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.card-done-recipes ul {
  display: flex;
  justify-content: center;
  margin: 3%;
  padding: 3%;
}

.a-thumb {
  display: flex;
  justify-content: center;
  width: 50%;
}

.thumb {
  width: 100%;
}

.container-done-recipes {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  width: 50%;
}

.share {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.share p {
  align-self: flex-start;
  color: rgba(0, 0, 0, 0.416);
  font-size: 90%;
  margin-top: 3%;
}

.share-icon {
  margin: 5%;
  width: 85%;
}

.icon-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
