.container-card {
  align-items: center;
  background-color: rgba(174, 65, 65, 0.342);
  border: 2px solid rgba(0, 0, 0, 0.212);
  border-radius: 5px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
  min-width: 40%;
}

.img-scroll {
  border-radius: 5px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
  height: 25vh;
  margin: 10px 15px;
  width: 100%;
}

.category-scroll {
  font-weight: 600;
}

.title-scroll {
  color: black;
  margin-top: -10px;
}
