.footer {
  background-color: rgba(255, 60, 0, 0.479);
  bottom: 0;
  display: flex;
  height: 9%;
  justify-content: space-around;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.imgFooter {
  width: 100%;
}

