header {
  background-color: rgba(255, 60, 0, 0.479);
  padding: 3%;
  width: 100%;
}

.container-header {
  display: flex;
  margin-bottom: 3%;
}

h2 {
  font-size: 200%;
  min-width: 60%;
  text-align: center;
}

.icon-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 20%;
}

.img-icon {
  margin: 5%;
  width: 85%;
}

