.recipeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipeCard {
  align-items: center;
  background-color: rgba(174, 65, 65, 0.462);
  border-radius: 8px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.342);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px;
  width: 25vh;
}

.card-img {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.342);
}

.recipe-title-card {
  color: rgba(61, 0, 0, 0.91);
  font-size: 1.5em;
  margin: auto;
}

.recipeCard img {
  margin-bottom: 5px;
  width: 135px;
}

