.search-bar {
  display: flex;
  flex-direction: column;
}

.div-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px;
}

.label-search {
  color: black;
  font-weight: 100;
}

.btn-search {
  align-self: center;
  background-color: rgba(174, 65, 65, 0.462);
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  color: rgba(61, 0, 0, 0.91);
  margin-bottom: 10px;
  width: 50%;
}

.input-text-search {
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  min-width: 100%;
}
